<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Recipe Ingredients

    <a data-toggle="collapse" href="#recipe_recipe_ingredients_new_form">
      Add ingredient
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @recipe.recipe_ingredients.each do |ingredient| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/ingredients/<%= ingredient.id %>">
          <%= ingredient.created_at %>
        </a>

        <a href="/delete_ingredient_from_recipe/<%= ingredient.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="recipe_recipe_ingredients_new_form">
        <%= render partial: "recipe_templates/recipe_recipe_ingredients_new_form" %>
      </div>
    </div>

  </ul>
</div>
