<h1>
  Edit recipe #<%= @recipe.id %>
</h1>

<hr>

<!-- Form recipe start -->
<form action="/update_recipe/<%= @recipe.id %>" method="post">
<!-- Form recipe end -->

  <!-- Label and input for source_website start -->
  <div class="form-group">
    <label for="source_website">
      Source website
    </label>

    <!-- Input for source_website start -->
    <input type="text" id="source_website" name="source_website" class="form-control" value="<%= @recipe.source_website %>">
    <!-- Input for source_website end -->
  </div>
  <!-- Label and input for source_website end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @recipe.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update recipe
  </button>
</form>

<hr>

<a href="/recipes">
  Go back
</a>
