<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Categories

    <a data-toggle="collapse" href="#item_categories_new_form">
      Add category
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @item.categories.each do |category| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/categories/<%= category.id %>">
          <%= category.name %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_category_from_ingredient/<%= category.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="item_categories_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "item_templates/item_categories_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
