<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Recipe Details

    <a data-toggle="collapse" href="#item_recipe_details_new_form">
      Add ingredient
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @item.recipe_details.each do |ingredient| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/ingredients/<%= ingredient.id %>">
          <%= ingredient.created_at %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_ingredient_from_ingredient/<%= ingredient.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="item_recipe_details_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
