<h1>
  Add a new item
</h1>


<hr>

<!-- Form item start -->
<form action="/create_item" method="post">
<!-- Form item end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for category start -->
  <div class="form-group">
    <label for="category">
      Category
    </label>

    <!-- Input for category start -->
    <input type="text" id="category" name="category" class="form-control">
    <!-- Input for category end -->
  </div>
  <!-- Label and input for category end -->

  <button class="btn btn-block btn-outline-secondary">
    Create item
  </button>
</form>

<hr>

<a href="/items">
  Go back
</a>
